/* CSS tambahan untuk efek kursor saat ditarik */
.grabbing { 
    cursor: grabbing !important; 
}

/* Animasi Marquee (Teks Berjalan) khas Brutalism */
@keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

.animate-marquee {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 15s linear infinite;
}